.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.Ruserdata
README.Rmd
testPhotos/
resources/bayes_classifier
fcn_model_training/imagesToAnnotate/
fcn_model_training/annotatedImagesMask/*.PNG
fcn_model_training/annotatedImagesMask/*.json
fcn_model_training/model_output/
fcn_model_training/local_only/
fcn_model_training/test/
fcn_model_training/train/
detectron_model_training/
*.ipynb_checkpoints
